.DS_Store
packages/tomeito/dist/*
!packages/tomeito/dist/index.html
!packages/tomeito/dist/package.json
packages/tomeito/dist/build/**
!packages/tomeito/dist/build/icons
node_modules/
npm-debug.log
npm-debug.log.*
thumbs.db
!.gitkeep
